/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box; /*when I give an item a width I want padding and margin to be applied within that width not in addition to it*/
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}

/*
Nav Styles
*/
.navbar-container {
  position: sticky;
  top: 0px;
  background-color: #f7fafc;
  z-index: 99;
  box-sizing: border-box;
  color: #4f5c65;
  font-size: 1.3em;
  line-height: 1.5em;
}
.nav-links{
  display:flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
a {
  color: #4f5c65;
  text-decoration: none;
}
a:hover {
  color: #222;
}
/*
Potluck styles
*/
.potluck {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  color: #4f5c65;
}
.button {
  padding: 19px 36px;
  font-size: 1em;
  line-height: 1.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #0087ee;
  border-radius: 5px;
  background-color: #0087ee;
  transition: opacity 200ms ease, color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  color: #fff;
  font-weight: 500;
  text-align: center;
}




/* SignUp styles */
