/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
}

/*
Nav Styles
*/
.navbar-container {
  position: sticky;
  top: 0px;
  background-color: #f7fafc;
  z-index: 99;
  box-sizing: border-box;
  color: #4f5c65;
  font-size: 1.3em;
  line-height: 1.5em;
}
.nav-links{
  display:flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
a {
  color: #4f5c65;
  text-decoration: none;
}
a:hover {
  color: #222;
}
/*
Potluck styles
*/
.potluck {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  color: #4f5c65;
  font-size: 1.4em;
}
h1 {
  margin: .67em 0;
  margin-top: 0px;
  margin-bottom: 1.6em;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #353e44;
}
.button {
  padding: 19px 36px;
  font-size: 1em;
  line-height: 1.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #0087ee;
  border-radius: 5px;
  background-color: #0087ee;
  transition: opacity 200ms ease, color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  opacity: 0.75;
}

.add-button{
  padding: 19px 36px;
  font-size: 1em;
  line-height: 1.5em;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 135, 238, 0.7);
  border-radius: 5px;
  background-color: rgba(0, 135, 238, 0.7);
  transition: opacity 200ms ease, color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  font-weight: 500;
  text-align: center;
}


/* SignUp styles */
.signupPage{
  background-image:linear-gradient(rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.171)), url("https://www.signupgenius.com/images/new-landing/potluck/optimized/hero.jpg");
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1{
  display: flex;
  justify-content: center;
  color: #506675;
  font-size: 3rem;
}
.signup-form{
  display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
   margin-top: 10rem;
   border: 3px black solid;
   background-color:rgba(48,71,94,0.9) ;
   padding:30px;
  
   
  
}
.signup{
  font-size: 1.6rem;
  color:white
}
.signup-input{
padding:0.7rem;
width:100%
}
.signup-button{
  color:white;
  margin-top: 1rem;
  border-radius: 5px;
  padding:1rem;
  background-color: #4f5c65;
  }

.signup-button:hover{
  background-color: antiquewhite;
  color:#4f5c65;
  transition:0.6s;
}

input {
  width: 100%;
  margin: 5px 0 0;
  display: block;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  background-color: #fff;
}
img {
  object-fit: cover;
  width: 33%;
  max-width: 500px;
  flex: 0 auto;
  border: 0;
}
/*
Home Page
*/
.Home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #4f5c65;
  font-size: 1.4em;
  background-image: url(https://images.unsplash.com/photo-1597774681009-f8679cf72348?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI0OXx4alBSNGhsa0JHQXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #f7fafc;
}
.Home h1 {
  color: #f7fafc;
}

