@import 'AddPotluck.css';
@import 'Potlucks.css';
@import 'Potluck.css';
@import 'PotluckDetails';
@import "AddGuests.css";
@import "AddFoods.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






/*.login-form{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  width: 90%;*/
/*  max-width: 300px;*/
/*  margin: 0 auto;}*/
/*  */



/*.login-label{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*  margin: 10px 0;*/
/*  font-size: 1.4rem;*/
/*}*/

/* */


/*  ;*/

/*.login-input{*/
/*  width: 100%;*/
/*  margin: 5px 0 0;*/
/*  display: block;*/
/*  width: 100%;*/
/*  border: 2px solid rgba(0, 0, 0, 0.2);*/
/*  border-radius: 5px;*/
/*  padding: 20px;*/
/*  transition: all 0.3s;*/
/*  font-size: 1.4rem;*/
/*  letter-spacing: 0.5px;*/
/*  background-color: white;*/
/*}*/
/*  */
/*.login-input:focus {*/
/*  outline: none;*/
/*  border-color: #1ee7e2;*/
/*}*/
/*    */

/*.login-button{*/
/*  width: 150px;*/
/*    display: inline-block;*/
/*    padding: 8px 11px;*/
/*    font-size: 1.2rem;*/
/*    text-transform: uppercase;*/
/*    border: 0;*/
/*    border-radius: 5px;*/
/*    letter-spacing: 2px;*/
/*    outline: none;*/
/*    background-color: #4dd0e1;*/
/*    background-image: linear-gradient(to right, #4dd0e1, #1ee7e2);*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);*/
/*}*/
/*  */
/*button:hover {*/
/*  background-image: none;*/
/*  background-color: #4dd0e1;*/
/*  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);*/
/*}*/

